﻿<div class="container-custom left-menu">

  <div class="row row-no_mg dnlp_logo cursor-pointer" (click)="change_active_class('cabinet')">
    <img src="assets/logo.svg" alt="DeepNLP Logo" class="logo">
  </div>

  <!--<div class="row row-no_mg menu_bar roboto-family font-size-lg-2 cursor-pointer">-->
    <div class="row row-no_mg menu_bar font-size-lg-2 cursor-pointer menu_item text-left"
         [ngClass]="{'active': active_menu === 'cabinet' }"
         (click)="change_active_class('cabinet')">
      <span class="active_menu_item"
            [ngClass]="{'left_bar': active_menu != 'cabinet' }"></span>
      <span class="col-11 menu_text"
            [ngClass]="{'non_active_menu_item': active_menu == 'collections' }">Classification</span>
    </div>

  <div class="row row-no_mg menu_bar  font-size-lg-2 cursor-pointer menu_item text-left"
         [ngClass]="{'active': active_menu === 'search' }"
         (click)="change_active_class('search')">
      <span class="active_menu_item"
            [ngClass]="{'left_bar': active_menu != 'search' }"></span>
      <span class="col-11 menu_text"
            [ngClass]="{'non_active_menu_item': active_menu == 'cabinet' }">Search</span>
    </div>

    <div class="row row-no_mg menu_bar font-size-lg-2 cursor-pointer menu_item text-left"
         [ngClass]="{'active': active_menu === 'collections' }"
         (click)="change_active_class('collections')">
      <span class="active_menu_item"
            [ngClass]="{'left_bar': active_menu != 'collections' }"></span>
      <span class="col-11 menu_text"
            [ngClass]="{'non_active_menu_item': active_menu == 'cabinet' }">Collections</span>
    </div>

  <!--</div>-->

  <!--<div class="menu_footer full_width">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<hr id="footer_line">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row row-no_mg">-->
      <!--<div class="col-md-4">-->
        <!--<img src="assets/avatar.svg" class="profile_img float_right">-->
      <!--</div>-->
      <!--<div class="col-md-8 no-padding-md">-->
        <!--<p class="user_name font-roboto font-size-lg-2 bottom-zero">-->
          <!--Chung Yu Ho-->
        <!--</p>-->
        <!--<p class="user_role  top-zero font-size-lg-1">-->
          <!--Admin-->
        <!--</p>-->

        <!--<p class="logout_link  cursor-pointer font-size-lg-1">-->
          <!--Log out-->
        <!--</p>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>
