﻿.left-menu{
  background-color: $theme-blue;
  height: 100vh;
  position: relative;
  max-height: 100vh;
}

.dnlp_logo {
  padding-bottom: 26px;
  padding-top: 31px;
  width: 100%;
  //text-align: center;
  //margin: 0 auto;
  padding-left: calc(3.5rem + 10px);
}
.logo {
  //margin-left: -1em;
  height: 32px;
  //text-align: center;
  //margin: 0 auto;
  padding-left: 0.875rem;
}

.menu_item{
  color: $theme-drop-zone;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  &:hover{
    background-color: $menu-item-hover-theme;
  }
}
.active {
  background-color: $menu-item-hover-theme;
}

.menu_text {
  line-height:  4.375rem;
  font-size: 1.25rem;
  opacity: 0.9;
  font-weight: 400 !important;
  padding-left: 3.8em;
}
.cabinet_menu{
  position: relative;
}

.menu_footer{
  position: absolute;
  bottom: 10px;
}


#footer_line{
  height: 1px;
  background-color: #676767;
  margin-left: 15%;
  margin-right: 15%;
}
.user_name{
  color: $theme-white;
}
.user_role{
  color:grey;
}
.logout_link{
  color:$theme-light-yellow;
  font-weight: 900;
}
.active_menu_item{
  background-color: $theme-light-yellow;
  width: 0.625rem;
}
.col-2-custom, .col-sm-2-custom, .col-md-2-custom, .col-lg-2-custom, .col-xl-2-custom{
  width: 0.5em;
}
.container-custom{
  margin-right: 0;
  margin-left: 15px;
}
.non_active_menu_item{
  //padding-left: 1.5em;
}
.left_bar{
  background-color: transparent;
}
@media(max-width: 576px){
  .logo{
    margin-left: -60px;
  }
}
@media(min-width: 1700px){
  .logo{
    //margin-left: -20px;
  }
}
