﻿//**
//** GLOBAL APP VARIABLES
//**

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");

//$font-stack:
//  -apple-system,
//  BlinkMacSystemFont,
//  "Segoe UI",
//  Helvetica,
//  Arial,
//  sans-serif,
//  "Apple Color Emoji",
//  "Segoe UI Emoji",
//  "Segoe UI Symbol";
$font-size-start: 16px;

$theme-white: #FFFFFF;
$theme-yellow: #F68D1E;
$theme-blue: #192D3F;
$theme-blue-dark: #061A2C;
$theme-gray: #383838;
$theme-black: #000000;

$theme-sidebar: #fff;
$theme-sidebar-card: $theme-white;
$theme-sidebar-card-border: #E5E5E5;
$theme-sidebar-card-divider: #e5e5e5;
$theme-sidebar-card-selected: #f7f8f9;
$theme-sidebar-title: $theme-black;
$theme-sidebar-card-text: $theme-gray;
$theme-sidebar-card-text-disabled: #717171;

$theme-result-view: $theme-gray;
$theme-table-row: $theme-white;
$theme-table-row-alternate: #FAFAFA;
$theme-table-border: #E5E5E5;
$theme-table-scroll-bar: rgba(#AFAFAF, 0.2);
$theme-table-scroll-thumb: rgba(#AFAFAF, 0.75);

$theme-toggle: $theme-white;
$theme-toggle-text: $theme-blue;
$theme-toggle-disabled: #A5A5A5;
$theme-toggle-disabled-text: #3B3B3B;

$page-min-width: 360px;
$break-tablet: 720px;
$break-desktop: 1440px;
$header-height: 60px;

$input-height: 43px;
$input-height-lg: 50px;

$sidebar-min-width: 300px;
$menu-item-hover-theme: #13222f;
$theme-cabinet-header-1: #191970;
$theme-cabinet-header-2: #ebac00;
$theme-cabinet-button: #00aa76;
$theme-faded-background: #04111d;
$theme-drop-zone: #f7fcff;
$theme-light-yellow : #febe10;
$theme-light-orange : #FFA500;
$theme-cabinet-border: #b4babf;
$theme-border:#95989a;
$theme-light-blue:#637789;
$theme-light-green: #00be84;
$theme-table-headers: #434343;
$font-stack: 'Roboto', sans-serif !default;


//**
//** GLOBAL APP MIXINS
//**

@mixin scrollbar($bar-width, $track-color, $thumb-color) {
  &::-webkit-scrollbar {
    width: $bar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
  }
}

@mixin btn-fade($bg-color:gray, $percent:0.2) {
  background-color: fade-out($bg-color, $percent);

  &:hover {
    background-color: $bg-color;
  }
}

@mixin placeholder($color:pink) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}
